* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

.main-section {
  height: 100vh;
  position: absolute;
  width: 100%;
  background-blend-mode: screen;
  background-image: linear-gradient(#857c94, #1d1a46), url("https://images.pexels.com/photos/6375/quote-chalk-think-words.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover; }

.btn {
  position: absolute;
  margin-top: 2rem;
  font-size: 2rem;
  color: #eee;
  background-color: #2b7575;
  padding: .2rem 1rem;
  text-decoration: none;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0.5rem 1.5rem; }

.row {
  width: 30rem;
  margin: 8rem auto; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 100%;
  height: 75vh; }
  .card__side {
    position: absolute;
    height: 75vh;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: black 0 0.5rem 1.5rem;
    border-radius: .3rem;
    backface-visibility: hidden;
    transition: all 1s; }
    .card__side--front {
      background-image: linear-gradient(to right, #121238, #081538);
      color: #eee; }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: aquamarine; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 1.8rem; }
