<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kypro | Easy way to learn</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="main-section">
    <div class="row">
      <div class="card">
        <div class="card__side card__side--front">
          <h1 class="card__text"><%= key %></h1>
        </div>
        <div class="card__side card__side--back">
          <h2 class="card__text"><%= value %></h2>
        </div>
      </div>
      <div class="buttons-div">
        <a href="/bonds" class="btn">New One</a>
      </div>
    </div>
  </section>
</body>
</html>